@use '../../styles/vars';

.app {
  width: 90%;
  max-width: 800px;
  margin: auto;
  height: 100vh;
  padding: 1em;
  background-color: vars.$color-main;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}